
* {
    box-sizing: border-box;
  }
  #p {
      margin: auto;
      text-align: center;
      padding:20px;
  }
  .row
    {background-image: url("https://cdn.pixabay.com/photo/2016/11/22/10/47/girl-1848947_1280.jpg");
    background-origin:content-box;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    border-width: thin;
    margin:0%;
      background-size:100%;
      width: 100% ;
      padding:30px ;
      height: 100%;
  }
  
  .header {
      background-color:white;
      padding: 30px;
      text-align: center;
      font-size: 40px;}
    #column {
      float: center;
      width:20%;
      margin: auto;
      margin-left: 50px;
      height: 250px; 
      text-align: center;
      border-radius: 50px;
      box-shadow: 6px 6px 6px black;
      font-family: Police;
      font-style: italic solid;
      font-weight: bold; 
      padding:20px;
      color: peachpuff; } 
    .row:after {
      content: "";
      clear: both;
      margin-left: 10px;
      width: 25%;
      padding: 10px;}
  H2 {
      color:palevioletred;
      text-align: center;
      word-spacing: -5px; 
      font-family: Police;
      font-style: italic; 
      }
      