

<div class="header">
  <h2>ESIC Esthetique, institut de beauté, spa, hammam à Montrouge</h2>
</div>

<p align="center">Besoin d'une épilation, d'un soin du visage ou tout simplement d'un massage pour vous détendre ?</p>

  <P align="center" > 
   Chez ESIC Esthetique, nous prenons soin de votre peau et vous faisons bénéficier
   de l'expérience de nos esthéticiennes pour vous apporter des soins adaptés,
  des conseils personnaliséset ainsi profiter d'un véritable moment de relaxation et de détente .</P>
   
  
<div class="row" >
  <div id="column" class="col-sm-6 col-md-3" > Prestations femme</div>
  <div id="column" class="col-sm-6 col-md-3" >Prestations Homme</div>
  <div id="column" class="col-sm-6 col-md-3" >Pose d'Ongles</div>
  
  <div id="column" class="col-sm-6 col-md-3">Hammam & Spa </div>
  <div id="column" class="col-sm-6 col-md-3" >Nouveaux Forfaits</div>
  <div id="column" class="col-sm-6 col-md-3" >Forfaits mariées</div>

</div>

<marquee id="id1"><span onmouseover="getElementById('id1').stop();" onmouseout="getElementById('id1').start();">N'hesitez pas à nous contacter sur le 01 46 56 69 09</span></marquee>

