<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <span class="nav navbar-brand" href="#">
    ESIC Esthetique
  </span>
  <a class="navbar-brand" routerLink='home'>Accueil</a>
  <a class="navbar-brand" routerLink='prestation'>Prestations</a>
  <a class="navbar-brand" routerLink='pictures'>Galerie photos</a>
  <a class="navbar-brand" routerLink='contact'>Contact</a>
  <form class="form-inline">
    <button class="btn btn-success my-2 my-sm-0" type="submit"> Prendre RDV </button>
  </form>
</nav>


<router-outlet></router-outlet>

