<div class="container">      
 <div class="row">
    <div class="col-md-6">
       <label for="">login</label>
        <input id="login" type="login" name="login" class="form-control" placeholder="Votre login">
        <p class="comments">Votre login ou votre adresse mail SVP</p>
    </div>
    <div class="col-md-6">
      <label for="">mot de passe</label>
      <input id="mdp" type="mdp" name="mdp" class="form-control" placeholder="Votre mot de passe SVP">
       <p class="comments"> Votre mot de passe valide SVP    </p>
    </div>
  <div class="col-md-12">
     <input type="submit" class="button1" value="Envoyer">
  </div> 
</div>
</div>