
.header
{
    background-image: url("https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-color: #fff;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header-text
{ 
  position: absolute;
  top: 30%;
  color:red;
}

.header-text{
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;font-family: 'Satisfy', cursive;
  }
  @keyframes slidein {
    from {
      margin-left: 75%;
      width: 300%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


/* formulaire de contacte*/
.ng-valid[required]
{
    border-left :3px solid green ;
}
.ng-invalid[required]
{
    border-top : 3px solid red;
}
p{
  text-align: center;
  font-size: 20px;

}
.container 
{
margin: auto;
width: 800px;
}
.col-md-6{
margin: auto; 
width: 100%
}